#Data Types and Structures Theory Questions

1.  What are data structures, and why are they important?

-> A data structure is a way of organizing, managing, and storing data so that it can be accessed and modified efficiently. They define the relationship between data elements and provide specific operations for manipulating them.
They are important because of the following reasons given below:-

a. Efficiency : They enable efficient data access, search, insertion, and deletion, reducing computational complexity.

b. Optimization : Choosing the right data structure can improve performance and reduce resource consumption.

c. Code Maintainability : Well-structured data leads to cleaner, more readable, and maintainable code.

d. Scalability : Essential for handling large datasets in applications like databases, web servers, and machine learning.

2.  Explain the difference between mutable and immutable data types with examples.

-> Data types are categorized into mutable and immutable based on whether their values can be changed after creation.

a. Mutable Data Types
Objects whose values can be modified after creation without changing their identity.
Examples:
Lists,
Dictionaries,  
Sets,
Byte Arrays

Example of Mutable Data Type:- given in code below.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
my_list[0] = 0
print(my_list)

[1, 2, 3, 4]
[0, 2, 3, 4]

b. Immutable Data Types
Objects whose values cannot be modified after creation. Any operation that seems to modify the object actually creates a new object.
Examples:
Tuples,
Strings,
Integers,
Floats,
Booleans,
Example of Immutable Data Type (String):- given in code given below:

In [ ]:
my_str = "Hello"
print(my_str)
my_str[0]= 'h'  #error :- 'str' object does not support item assignment
print(my_str)

Hello

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

-> In Python, both lists and tuples are used to store collections of items. However, they have key differences in terms of mutability, performance, and usage.

a. Mutability
Lists are mutable: They can be modified after creation (elements can be added, removed, or changed).
Tuples are immutable: Once created, they cannot be changed.

b. Performance
Tuples are faster than lists because they are immutable and require less memory.
Lists are slower as they support operations like appending and modifying.

c. Syntax
Lists use square brackets []
Tuples use parentheses ()

4. Describe how dictionaries store data?

-> A dictionary in Python is an unordered, mutable data structure that stores data in key-value pairs. It allows for fast lookups, insertions, and deletions.

Structure of a Dictionary

Keys: Must be unique and immutable (e.g., int, str, tuple).

Values: Can be of any data type (mutable or immutable).

Stored as: {key: value} pairs.

5.  Why might you use a set instead of a list in Python?

-> Both sets and lists store collections of items, but sets have unique advantages in certain scenarios.

a. Sets Store Unique Elements
Lists allow duplicate values.
Sets automatically remove duplicates.

b. Sets Offer Faster Lookups (O(1) vs. O(n))
Lists require O(n) time to check if an element exists (linear search).
Sets use hashing, making membership checks O(1) (constant time).

c. Sets Support Mathematical Operations
Sets provide efficient operations like union, intersection, and difference, which are not directly available with lists.

6. What is a string in Python, and how is it different from a list?

-> A string in Python is a sequence of characters enclosed in quotes (' ', " ", ''' ''', or """ """). It is an immutable data type used to store and manipulate text.

It is different from list in following ways:

a. List is mutable while string are immutable.

b.Strings Contain Only Characters, Lists Can Store Mixed Data.

7. How do tuples ensure data integrity in Python?

-> A tuple is an immutable data structure in Python, meaning its contents cannot be changed after creation. This immutability helps ensure data integrity by preventing accidental modifications.

a. Immutability Prevents Accidental Changes
Since tuples cannot be modified, they prevent unintended data alterations.
This is useful in data-sensitive applications.

b.  Tuples Can Be Used as Dictionary Keys.

8. What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table (or hash map) is a data structure that stores key-value pairs and allows for fast retrieval, insertion, and deletion of data. It achieves this efficiency using a hash function that maps keys to specific locations in memory.

Python's dictionary (dict) is implemented using a hash table. Each key in a dictionary is hashed, and its value is stored in an internal array.

9.  Can lists contain different data types in Python?

-> Yes! Lists in Python can store elements of different data types within the same list. This is possible because Python lists are heterogeneous, meaning they can hold a mix of integers, strings, floats, booleans, and even other lists or objects.

10.  Explain why strings are immutable in Python?

-> In Python, strings are immutable, meaning that once a string is created, it cannot be changed. If you try to modify a string, Python will create a new string instead of changing the original one.

This immutability is intentional and has several advantages.

a. Memory Efficiency

b. Prevents Accidental Modifications

c.  Hashability: Strings Can Be Dictionary Keys.

11. What advantages do dictionaries offer over lists for certain tasks?

-> Advantages of Dictionaries Over Lists
a. Faster Lookups (O(1) vs. O(n)) : Dictionaries use hash tables, making key-based lookups much faster than searching through a list.

b. Key-Value Pair Storage : Allows for structured data storage, making retrieval more intuitive (e.g., user["age"] instead of user[1]).

c. No Need for Indexing : Items are accessed using keys rather than numerical indexes, improving readability.

d. Avoids Duplicates : Keys in dictionaries are unique, ensuring no duplicate entries.

e. More Memory Efficient for Sparse Data : Storing associative data is more efficient in dictionaries compared to lists with placeholders.

12. Describe a scenario where using a tuple would be preferable over a list.

-> Storing coordinates (latitude, longitude) in a mapping application.

because:-

Tuples are immutable, preventing accidental modification.
They use less memory, improving performance.
Tuples can be used as dictionary keys for fast lookups.

13.  How do sets handle duplicate values in Python?

-> Sets handle duplicate values by automatically removing them. They only store unique elements, ensuring no repetitions.

for example :- code given below.

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries?

-> For lists: The "in" keyword checks if a value exists, performing a linear search (O(n)).

 For dictionaries: The "in" keyword checks for a key, using a hash table (O(1)), making lookups much faster.

15. Can you modify the elements of a tuple? Explain why or why not?

-> No, you cannot modify elements of a tuple because tuples are immutable. Once created, their elements cannot be changed, added, or removed. This ensures data integrity and stability in programs.

16. What is a nested dictionary, and give an example of its use case?

->  A nested dictionary is a dictionary inside another dictionary, allowing hierarchical data storage.

Use Case: Storing student records with multiple attributes.

Example:code given below.

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
print(students["Alice"]["grade"])  # Output: A

17. Describe the time complexity of accessing elements in a dictionary.

-> Accessing elements in a dictionary has an average time complexity of O(1) (constant time) due to hash table implementation.

In the worst case (hash collisions), the time complexity can be O(n), but Python optimizes hashing to keep lookups efficient.

18.  In what situations are lists preferred over dictionaries.

-> Lists are preferred over dictionaries when:

a. Order matters (Lists maintain insertion order, while dicts do from Python 3.7+).

b. Sequential data is needed (e.g., processing items one by one).

c. Fast indexing is required (Lists allow direct access via index, O(1)).

d. Memory efficiency is a priority (Lists use less memory than dictionaries).

e. No need for key-value pairs, just a collection of values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries were considered unordered before Python 3.7 because they used hash tables, which do not guarantee order.

Dictionaries maintain insertion order, but retrieval is still based on keys, not positions.

Effect on data retrieval:

Items are accessed by keys, not index positions.

Iteration order follows insertion sequence .

Faster lookups (O(1)), but no sequential access like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

->  Lists:

Retrieve elements by index (position-based).

Lookup time is O(1) for direct indexing, O(n) for searching a value.

Dictionaries:

Retrieve elements by key (key-value mapping).

Lookup time is O(1) on average, using a hash table.

Difference: Lists use positional access, while dictionaries use key-based access, making dictionary lookups faster for large datasets.

# Data Structures Coding Questions

In [ ]:
# Question 1: Write a code to create a string with your name and print it
name = input("Enter your name: ")  #Enter your name: Abhay Thakur
print(name)

Enter your name: Abhay Thakur
Abhay Thakur

In [ ]:
# Question 2: Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str))

11

In [ ]:
# Question 3: Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
print(str[0:3])

Pyt

In [ ]:
# Question 4: Write a code to convert the string "hello" to uppercase
str = "hello"
print(str.upper())

HELLO

In [ ]:
# Question 5:  Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

In [ ]:
# Question 6: Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Question 7: Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# Question 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# Question 9 : Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# Question 10:  Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Question 11 :  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
# Question 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
# Question 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
# Question 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [ ]:
# Question 15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [ ]:
# Question 16:Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [ ]:
# Question 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
# Question 18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# Question  19 : Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A = {1, 2, 3}
B = {3, 4, 5}
print(A.union(B))

{1, 2, 3, 4, 5}

In [ ]:
# Question 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A = {1, 2, 3}
B = {2, 3, 4}
print(A.intersection(B))

{2, 3}

In [ ]:
#Question 21:  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Abhay", "age": 21, "city": "Bhopal"}
print(dict)

{'name': 'Abhay', 'age': 21, 'city': 'Bhopal'}

In [ ]:
# Question 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Question 23:Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [ ]:
# Question 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [ ]:
# Question 26: Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
print(list)
tuple = (1, 2, 3, 4, 5)
print(tuple)
dict = {"name": "Abhay", "age": 21, "city": "Bhopal"}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Abhay', 'age': 21, 'city': 'Bhopal'}

In [ ]:
# Question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list = [11,22,88,33,55]
list.sort()
print(list)

[11, 22, 33, 55, 88]

In [ ]:
# Question 28: Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "orange", "grape", "kiwi"]
print(list[2])

orange

In [ ]:
# Question 29: Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Abhay", "age": 21}
dict2 = {"city": "Bhopal", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Abhay', 'age': 21, 'city': 'Bhopal', 'country': 'India'}

In [ ]:
# Question 30: Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "date"]
result = set(string_list)
print(result)